/* Import fonts if needed */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

.about {
  padding: 40px;

  /* Add a colorful background gradient with a subtle space theme */
  background: linear-gradient(to right bottom, #35291d, #2a2e20e0 50%, #28231ad2 60%, #2f2a24e1);
  background-size: cover;
  /* Ensure full background coverage on responsive screens */
  background-attachment: fixed;
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
}

.aboutFirstHeading, .aboutSecHeading {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #fff; /* Adjust text color for better contrast on the darker background */
}

.aboutFirstHeading{
  font-size: 2rem;
 
}

.aboutSecHeading{
  font-size: 2rem;
  margin: 20px 0;
}

.about-container > p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #fff; /* Adjust text color for better contrast on the darker background */
}

.about-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.info-card {
  text-align: center;
  padding: 20px;
  margin: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border with white transparency */
  border-radius: 5px;
  background-color:#be90524d; /* Semi-transparent background for better readability */
  color: #fff; /* Keep text color white for contrast */
}

.values-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.values-list li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  color: #fff; /* Adjust text color for better contrast on the darker background */
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.team-member {
  border: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border with white transparency */
  border-radius: 5px;
  padding: 20px;
  background-color:rgb(137 112 73 / 55%); /* Semi-transparent background for better readability */
  color: #fff; /* Keep text color white for contrast */
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .about-info {
    flex-direction: column;
  }

  .info-card {
    flex: 1;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }
}

/* Optional image customization (replace with your own space-themed image) */
.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/logoes/bgforhero1.jpeg"); 
  background-repeat: no-repeat;/* Replace with your image URL */
  background-size: cover;
  background-blend-mode: multiply; /* Blend the image with the background color */
  opacity: 0.3; /* Adjust opacity for desired effect */
  z-index: -1; /* Ensure the
    image stays behind the content */
}
