/* Base Colors */
:root {
  --primary-color: #4d6b4d; /* Green */
  --secondary-color: #ff9999; /* Pink */
  --accent-color: #ffd700; /* Gold */
}

/* Container */
.want-service {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.want-service h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.want-service form {
  display: flex;
  flex-direction: column;
}

.want-service label {
  margin-bottom: 5px;
  color: var(--primary-color);
}

.want-service input,
.want-service select {
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: #fff;
  width: 100%; /* Adjust width to fill container */
}

.want-service button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 100%; /* Adjust width to fill container */
}

.want-service button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.want-service .error {
  color: red;
  margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .want-service {
    padding: 10px;
  }

  .want-service form {
    width: 100%; /* Ensure form fills container */
    margin: 0 auto; /* Center the form */
  }

  .want-service input,
  .want-service select {
    font-size: 14px;
    width: 100%; /* Adjust width to fill container */
  }
}

@media (max-width: 480px) {
  .want-service {
    padding: 5px;
  }

  .want-service input,
  .want-service select {
    font-size: 12px;
  }
}
